<h2 class="page-header">Search Cities</h2>
<form action="/cities" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label>Name</label>
            <input type="text" name="name" value="<%= searchOptions.name %>">
        </div>
    </div>
    <div class="form-row form-row-end">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>
<br>
<% cities.forEach(city => { %>
    <div class="city-row">
        <div class="city-name"><%= city.Name %></div>
        <div class="form-row form-row-end btn-row">
            <a class="btn btn-primary" href = "/cities/<%= city.id %>">View</a>
            <a class="btn btn-primary" href = "/cities/<%= city.id %>/edit">Edit</a>
            <%- include('../partials/deleteForm',
                {url: `/cities/${city.id}`})
            %>
        </div>
    </div>
<% }) %>

