<h2>Search Cities</h2>
<form action="/cities" method="GET">
    <div>
        <label>Name</label>
        <input type="text" name="name" value="<%= searchOptions.name %>">
    </div>
    <button type="submit">Search</button>
</form>
<br>
<% cities.forEach(city => { %>
    <div><%= city.Name %></div>
    <a href = "/cities/<%= city.id %>">View</a>
    <a href = "/cities/<%= city.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm',
        {url: `/cities/${city.id}`})
    %>
<% }) %>
