<h2 class="page-header"><%= city.Name %></h2>
<div class="btn-row">
    <a class="btn btn-primary" href="/cities/<%= city.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm', {url: `/cities/${city.id}`}) %>
</div>
<% if (coffeeshopsInCity.length > 0) { %>
    <h2 class="page-header">Coffeeshops in City:</h2>
    <div>
        <% coffeeshopsInCity.forEach(coffeeshop => { %>
            <a href="/coffeeshops/<%= coffeeshop.id%>">
                <div><%= coffeeshop.Name %></div>
            </a>
        <% }) %>
    </div>
<% } %>

