<h2 class="page-header"><%= city.Name %></h2>
<a href="/cities/<%= city.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', {url: `/cities/${city.id}`}) %>
<% if (coffeeshopsInCity.length > 0) { %>
    <h2>Coffeeshops in City:</h2>
    <div>
        <% coffeeshopsInCity.forEach(coffeeshop => { %>
            <a href="/coffeeshops/<%= coffeeshop.id%>">
                <div><%= coffeeshop.Name %></div>
            </a>
        <% }) %>
    </div>
<% } %>
