<label>Name</label>
<input type="text" name="name" value = "<%= coffeeshop.Name %>">
<br>
<label>City</label>
<input type="text" name="city" value = "<%= coffeeshop.City %>">
<br>
<label>Address</label>
<input type="text" name="address" value = "<%= coffeeshop.Address %>">
<br>
<label>Date</label>
<input type="date" name="date" value = "<%= coffeeshop.Date %>">
<br>
<label>Coffee Score</label>
<input type="number" name="coffee_score" value = "<%= coffeeshop.Coffee_Score %>">
<br>
<label>Aesthetic Score</label>
<input type="number" name="aesthetic_score" value = "<%= coffeeshop.Aesthetic_Score %>">
<br>
<label>Overall Score</label>
<input type="number" name="overall_score" value = "<%= coffeeshop.Overall_Score %>">
<br>
<label>Notes</label>
<input type="text" name="notes" value = "<%= coffeeshop.Notes %>">